<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial, sans-serif; background-color: #f8f8f8; text-align: center;">

<div style="max-width: 600px; margin: 100px auto; padding: 20px; background-color: #ffffff; border: 1px solid #ff6600; border-radius: 10px;">
    <p style="color: #ff6600;"><strong>기숙사 룸메이트 매칭 플랫폼 Check-mate</strong></p>
    <p style="color: #000000;">반갑습니다.</p>
    <p>아래 코드를 인증번호 입력 란에 입력해주세요.</p>

    <div style="font-size: 24px; margin-top: 20px; padding: 10px; background-color: #ff6600; color: #ffffff; border-radius: 5px;">
        <span th:text="${code}"></span>
    </div>
</div>

</body>

</html>
